<% if @search_sanitizer.ingredients_list.present? %>
  <% if @recipes.present? %>
    <ul>
      <% @recipes.each do |recipe| %>
          <li class="recipe">
            <hgroup>
          <h3>
            <%= recipe.title %>
          </h3>
          <em class="ingredient-stats"><small>Matching: <%= recipe.matching_ingredients_count %> • Non-matching: <%= recipe.non_matching_ingredients_count %> • Total: <%= recipe.matching_ingredients_count + recipe.non_matching_ingredients_count %> • Ratio <%= recipe.matching_ratio.round(1) %></small></em>
          </hgroup>
          <ul>
              <% recipe.ingredients.each do |ingredient| %>
              <li>
                  <% if recipe.matching_ingredients.include?(ingredient.ingredient) %>
                    <mark><%= ingredient.ingredient %></mark>
                  <% else %>
                    <%= ingredient.ingredient %>
                  <% end %>
              </li>
              <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p id="empty-state"><small>You're cooked, it's probably time to hit a grocery store. 😔</small></p>
  <% end %>
<% end %>
